# Cloudinary Image Storage
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=esmfahf0
CLOUDINARY_API_KEY=774116671947288
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
CLOUDINARY_URL=cloudinary://774116671947288:your_secret@esmfahf0

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_PROJECT_ID=video-care-456d3
NEXT_PUBLIC_FIREBASE_APP_ID=1:753503373289:web:5749dd73c9a70d76a82d78
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCvU-6LtUec49iLhk2AwcIlrjup2-jwX-4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=video-care-456d3.firebaseapp.com
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=video-care-456d3.firebasestorage.app
